.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/output/**
!data/output/.keep
data/raw/input6_1.rds
data/raw/input6_2.rds
data/raw/workflow.rds
tests/testthat/data/input3.rds
tests/testthat/.times.png
tests/testthat/.summarystats.csv
tests/testthat/.speeds.png
tests/testthat/.distances.png
tests/testthat/.altitudes.png
tests/testthat/.summarystats.csv
tests/testthat/.summarystats.csv
tests/testthat/.summarystats.csv
tests/testthat/.summarystats.csv
tests/testthat/.summarystats.csv
data/raw/input5.rds
